@import '~antd/dist/antd.css';

.ant-slider-rail {
  background-color: transparent;
}

.ant-slider-track {
  background-color: #f0f0f0;
}

.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 50;
}

.loading .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 51;
}

#root {
  background-color: #61dafb;
  background: radial-gradient(#A0DDFF, #48ACE4);
}

.App {
  position: relative;
  max-width: 400px;
  min-width: 400px;
  flex-direction: column;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roleta {
  padding: 1em;
  height: 80%;
  cursor: pointer;
  flex-direction: column;
}


.gutter {
  flex-grow: 1;
  background-color: #61dafb;
  position: relative;
  width: 100%;
}

.calendar_btn{
position: absolute;
right: 10px;
border-radius: 8px;
border: unset;
background-color: transparent;
font-size: 2rem;
color: white;
height: 60px;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup_body {
  width: 80vw;
  height: 80vh;
  max-width: 600px;
  max-height: 600px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px black;
}

.svjetlo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #61dafb;
  display: flex;
  justify-content: center;

}
.svjetlo_roundrect {
  display: flex;
  justify-content: center;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  background-color: white;
  width: 100%;
  height: 100%;

}

.slider_container{
  position: absolute;
  margin: 0 auto;
  top: 20px;
  z-index: 0;
}
svg {
  z-index: 0 !important;
}

.slider_container path {
  stroke: #48ACE4;
}

.bulb_btn_wrapper{
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.bubl_btn {
  appearance: none;
  box-shadow: none;
  z-index: 10;

  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: opacity 100ms;
  border: none;
  box-shadow: 0 0 15px 1px #45789544
}

.bubl_btn.on {
  background-color: #48ACE4;
}


.bubl_btn.off {
  background-color: #ffffff;
  border: 2px solid #48ACE4;
}

.bubl_btn:active {
  opacity: 0.8;
}

.rotelta_blade {
 width: 100%;
}

.blinds {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  row-gap: 12px;
  transition: translate 200ms;
}

.blinds_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  row-gap: 10px;
  overflow: hidden;

}